<%-- 
Name:   Columns-ToJsonVars.cst
Author: Fred Lackey <fred.lackey@gmail.com>
Description: Builds vars JSON variable from an IndexSchema (named "index")

USAGE:
Include immediately after setting a local variable:

    columns (type ColumnSchemaCollection) : Collection of columns to recurse
    varMode (type FilterMode) : Indicates logic used when selecting columns.

EXCEPTIONS:
VersionDateColumn ... Only used during Create.  Will be set to default if found.
VersionUserColumn ... Only used during Create.  Will be set to default if found.
DeleteFlagColumn  ... Will be set depending on varMode variable.
--%>
    var vars = {
<%
        foreach(var column in columns)
        {
            var isLast = (column == columns[columns.Count - 1]);
  
            if (column.IsVersionDateColumn())
            {
%>
        <%= FieldNameOverrides[column.Name.ToCamelCase()] %>: new Date()<% if (!isLast){ %>,<% } %>
<%
            }
            else if (column.IsVersionUserColumn())
            {
%>
        <%= FieldNameOverrides[column.Name.ToCamelCase()] %>: <%= column.Name.ToCamelCase() %><% if (!isLast){ %>,<% } %>
<%
            }
            else if (column.IsDeleteFlag())
            {
                if (varMode == FilterMode.Create)
                {
%>
        <%= FieldNameOverrides[column.Name.ToCamelCase()] %>: <%= DeleteFlagDefaultValue[column.NativeType] %><% if (!isLast){ %>,<% } %>
<%
                }
            }
            else
            {
%>
        <%= FieldNameOverrides[column.Name.ToCamelCase()] %>: <%= column.Name.ToCamelCase() %><% if (!isLast){ %>,<% } %>
<%
            }
        }
%>        
    };
