<%-- 
Name:   Columns-ToJsonRequestData.cst
Author: Fred Lackey <fred.lackey@gmail.com>
Description: Builds data JSON variable from a ColumnSchemaCollection

USAGE:
Include immediately after setting a local variable:

    columns (type ColumnSchemaCollection) : Collection of columns to recurse
    varMode (type FilterMode) : Indicates logic used when selecting columns.

EXCEPTIONS:
VersionDateColumn ... Only used during Create.  Will be set to default if found.
VersionUserColumn ... Only used during Create.  Will be set to default if found.
DeleteFlagColumn  ... Will be set depending on varMode variable.
--%>
        var data = {
<%
foreach(var column in columns)
{
    var isLast = (column == columns[columns.Count - 1]);

    if (column.IsVersionDateColumn())
    {
%>
            <%= column.Name.ToCamelCase() %>: new Date()<% if (!isLast){ %>,<% } %>
<%
    }
    else if (column.IsVersionUserColumn())
    {
%>
            <%= column.Name.ToCamelCase() %>: <%= column.Name.ToCamelCase() %><% if (!isLast){ %>,<% } %>
<%
    }
    else if (column.IsDeleteFlag())
    {
%>
            includeDeleted: includeDeleted<% if (!isLast){ %>,<% } %>
<%
    }
    else
    {
%>
            <%= column.Name.ToCamelCase() %>: <%= column.Name.ToCamelCase() %><% if (!isLast){ %>,<% } %>
<%
    }
}
%>        
        };
