<%-- 
Name:   index.service.js.cst
Author: Fred Lackey <fred.lackey@gmail.com>
Desc:
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JavaScript" OutputType="None" CompilerVersion="v4.5" Description="" %>

<%-- 01. Setup --%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="True" %>
<%@ Property Name="OutputDirectory" Type="System.String" Optional="True" %>
<%@ Property Name="OutputVersioning" Type="System.Boolean" Optional="True" %>

<%-- 02. Project --%>
<%@ Property Name="ProjectName" Type="System.String" Optional="True" %>
<%@ Property Name="VersionText" Type="System.String" Optional="True" %>
<%@ Property Name="ProjectDescription" Type="System.String" Optional="True" %>
<%@ Property Name="AuthorName" Type="System.String" Optional="True" %>

<%-- 03. Dev Config --%>
<%@ Property Name="DevHostName" Type="System.String" Optional="True" %>
<%@ Property Name="DevHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="DevDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="DevDbName" Type="System.String" Optional="True" %>

<%-- 03. Prod Config --%>
<%@ Property Name="ProdHostName" Type="System.String" Optional="True" %>
<%@ Property Name="ProdHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="ProdDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="ProdDbName" Type="System.String" Optional="True" %>

<%-- Local Properties --%>
<%@ Property Name="FileName" Type="System.String" Optional="True" %>
<%@ Property Name="BuildDate" Type="System.DateTime" Optional="True" %>
<%@ Property Name="CurrentOwner" Type="System.String" Optional="True" %>

<%@ Assembly Name="SkydiverFL.Extensions.CodeSmith.dll" Path="..\..\Templates\Common" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.Core" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.Engine" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith.Helpers" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith.Languages.JavaScript" %>
<%@ Import Namespace="CodeSmith.Core.Extensions" %>
<%@ Import Namespace="CodeSmith.Engine" %>
/*jslint node: true */
<!-- #include file="..\Common\Includes\Header-JavaScript.cst" -->

'use strict';

<%
var isDefaultOwner = (!string.IsNullOrEmpty(CurrentOwner) && SourceDatabase.GetDefaultOwner().Equals(CurrentOwner, StringComparison.OrdinalIgnoreCase));
var tables = SourceDatabase.Tables.Where(x => x.Owner.Equals(CurrentOwner, StringComparison.OrdinalIgnoreCase)).ToList();
var tableCount = tables.Count;
var names = new List<string>();

foreach (var table in tables) 
{
    var prefix = table == tables.First() ? "var " : "    ";
    var suffix = table == tables.Last() ? ";" : ",";
    
    var name = table.Name.ToPlural().ToCamelCase(); 
    names.Add(name);
%>
<%= prefix %><%= name %> = require('./<%= table.Name.ToHypehatedLowercase() %>.service')<%= suffix %>
<%
}

if (isDefaultOwner)
{
    if (tableCount > 0)
    {
%>

<%
    }

    var owners = SourceDatabase.GetOwners().Where(x => !x.Equals(SourceDatabase.GetDefaultOwner(), StringComparison.OrdinalIgnoreCase)).ToList();
    foreach (var owner in owners)
    {
        var prefix = owner == owners.First() ? "var " : "    ";
        var suffix = owner == owners.Last() ? ";" : ",";

        var name = owner.ToCamelCase(); 
        names.Add(name);
%>
<%= prefix %><%= name %> = require('./<%= owner.ToHypehatedLowercase() %>')<%= suffix %>
<%
    }
}
%>

module.exports = {
<%
foreach (var name in names) 
{
    var suffix = name == names.Last() ? "" : ",";
%>
    <%= name %>: <%= name %><%= suffix %>
<%
}
%>
};
