<%-- 
Name:   model.js.cst
Author: Fred Lackey <fred.lackey@gmail.com>
Desc:
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JavaScript" OutputType="None" CompilerVersion="v4.5" Description="" %>

<%-- 01. Setup --%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="True" %>
<%@ Property Name="OutputDirectory" Type="System.String" Optional="True" %>
<%@ Property Name="OutputVersioning" Type="System.Boolean" Optional="True" %>

<%-- 02. Project --%>
<%@ Property Name="ProjectName" Type="System.String" Optional="True" %>
<%@ Property Name="VersionText" Type="System.String" Optional="True" %>
<%@ Property Name="ProjectDescription" Type="System.String" Optional="True" %>
<%@ Property Name="AuthorName" Type="System.String" Optional="True" %>

<%-- 03. Dev Config --%>
<%@ Property Name="DevHostName" Type="System.String" Optional="True" %>
<%@ Property Name="DevHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="DevDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="DevDbName" Type="System.String" Optional="True" %>

<%-- 03. Prod Config --%>
<%@ Property Name="ProdHostName" Type="System.String" Optional="True" %>
<%@ Property Name="ProdHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="ProdDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="ProdDbName" Type="System.String" Optional="True" %>

<%-- Local Properties --%>
<%@ Property Name="FileName" Type="System.String" Optional="True" %>
<%@ Property Name="CurrentTable" Type="TableSchema" Optional="True" %>
<%@ Property Name="BuildDate" Type="System.DateTime" Optional="True" %>

<%@ Map Name="DefaultsDelFlag" Src="Maps\DefaultsDelFlag.csmap" %>
<%@ Map Name="DtoFieldNames" Src="Maps\DtoFieldNames.csmap" %>
<%@ Map Name="SchemaFieldNames" Src="Maps\SchemaFieldNames.csmap" %>
<%@ Map Name="SqlToMongoose" Src="Maps\SqlToMongoose.csmap" %>
<%@ Map Name="SqlToMongooseKey" Src="Maps\SqlToMongooseKey.csmap" %>
<%@ Map Name="ValuesDelFlag" Src="Maps\ValuesDelFlag.csmap" %>
<%@ Map Name="ValuesVersionDate" Src="Maps\ValuesVersionDate.csmap" %>

<%@ Assembly Name="SkydiverFL.Extensions.CodeSmith.dll" Path="..\..\Templates\Common" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.Core" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith.Helpers" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith.Languages.JavaScript" %>
<%@ Import Namespace="CodeSmith.Core.Extensions" %>
/*jslint node: true, nomen: true, es5: true */
<!-- #include file="..\Common\Includes\Header-JavaScript.cst" -->

'use strict';

<%
var pkCount = 0;









// ==============================================
// SCHEMA DEFINITION & INSTANCE VARIABLES - BEGIN
// ==============================================
%>
var dates = require('dzutils').dates,
    moment = require('moment'),
    mongoose = require('mongoose'),
    numbers = require('dzutils').numbers,
    strings = require('dzutils').strings,
    uids = require('dzutils').uuids,
    util = require('util');

var <%= CurrentTable.Name.ToCamelCase() %>Schema = new mongoose.Schema({
<% 
foreach (var column in CurrentTable.Columns)
{ 
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }

    var eol = (column == CurrentTable.Columns.Last()) ? string.Empty : ",";
    var validator = string.Empty;
    var typeName = string.Empty;
    
    var line = SchemaFieldNames[column.Name.ToCamelCase()] + ": { type: " + ((column.IsPrimaryKeyMember || column.IsForeignKeyMember) ? SqlToMongooseKey[column.NativeType] : SqlToMongoose[column.NativeType]);
    switch ((column.IsPrimaryKeyMember || column.IsForeignKeyMember) ? SqlToMongooseKey[column.NativeType] : SqlToMongoose[column.NativeType])
    {
        case "String":
            validator = (column.IsPrimaryKeyMember || column.IsForeignKeyMember)
                ? (column.IsFixedLength() ? "strings.isAlphanumeric" : "uids.isIdentifier")
                : (column.NativeType == "uniqueidentifier" ? "uids.isIdentifier" : "strings.isValidString");
            validator += (column.AllowDBNull ? "OrNull" : string.Empty);
            
            typeName = (column.IsPrimaryKeyMember || column.IsForeignKeyMember)
                ? (column.IsFixedLength() ? "code" : "identifier")
                : (column.NativeType == "uniqueidentifier" ? "identifier" : "string");
            typeName += (column.AllowDBNull ? " or null value" : string.Empty);
            
            line += ", trim: true";
            line += (column.IsPrimaryKeyMember || column.IsForeignKeyMember || column.NativeType == "uniqueidentifier") ? ", uppercase: true" : string.Empty;
            line += (column.IsPrimaryKeyMember && !column.IsFixedLength()) ? ", default: uids.newIdentifier" : string.Empty;
            
            line += ", validate: [" + validator + ", '" + SchemaFieldNames[column.Name.ToCamelCase()] + " ";
            line += ((SchemaFieldNames[column.Name.ToCamelCase()] == column.Name.ToCamelCase()) ? "" : "(" + column.Name.ToCamelCase() + ") ");
            line += "is not a valid " + typeName + "']";
            break;
        case "Date":
            validator = "dates.isDate" + (column.AllowDBNull ? "OrNull" : string.Empty);
            typeName = "date" + (column.AllowDBNull ? " or null value" : string.Empty);
            
            line += column.IsDeleteFlag() ? ", default: null" : string.Empty;
            
            line += ", validate: [" + validator + ", '" + SchemaFieldNames[column.Name.ToCamelCase()] + " ";
            line += ((SchemaFieldNames[column.Name.ToCamelCase()] == column.Name.ToCamelCase()) ? "" : "(" + column.Name.ToCamelCase() + ") ");
            line += "is not a valid " + typeName + "']";
            break;
        case "Number":
            validator = (column.IsVersionDateColumn() || column.IsDeleteFlag())
                ? "dates.isUnixDateStamp"
                : "numbers.isNumber";
            validator += (column.AllowDBNull ? "OrNull" : string.Empty);
            
            typeName = (column.IsVersionDateColumn() || column.IsDeleteFlag())
                ? "unix date stamp"
                : "number";
            typeName += (column.AllowDBNull ? " or null value" : string.Empty);
            
            // line += column.IsDeleteFlag() ? ", default: null" : string.Empty;
            
            line += ", validate: [" + validator + ", '" + SchemaFieldNames[column.Name.ToCamelCase()] + " ";
            line += ((SchemaFieldNames[column.Name.ToCamelCase()] == column.Name.ToCamelCase()) ? "" : "(" + column.Name.ToCamelCase() + ") ");
            line += "is not a valid " + typeName + "']";
            break;
        default:
            break;
    }
    line += ", required: " + (!column.AllowDBNull).ToString().ToLower();
    line += column.IsForeignKeyMember ? ", ref: '" + column.GetPrimaryTable().Name.ToPascalCase() + "'" : string.Empty;
    line += " }" + eol;
    
%>
    <%= line %>
<% 
}
%>
});
<%
// ==============================================
// SCHEMA DEFINITION & INSTANCE VARIABLES - END
// ==============================================










// ================
// INDICIES - BEGIN
// ================
if (CurrentTable.Indexes.Where(x => !x.IsPrimaryKey).Count() < 1)
{
%>

// TABLE DOES NOT HAVE ANY INDICIES!
<%
}

foreach(var index in CurrentTable.Indexes.Where(x => !x.IsPrimaryKey).OrderBy(x => x.IsUnique).OrderBy(x => x.CreateUniqueName()))
{
%>

<%= CurrentTable.Name.ToCamelCase() %>Schema.index({
<%
    foreach (var column in index.MemberColumns)
    {
        var eol = (column == index.MemberColumns.Last()) ? string.Empty : ",";
%>
    <%= SchemaFieldNames[column.Name.ToCamelCase()] %>: 1<%= eol %>
<%
    }
%>
}, { unique: <%= index.IsUnique.ToString().ToLower() %> });
<%
}
// ================
// INDICIES - END
// ================










// ==================
// VALIDATION - BEGIN
// ==================
%>

var validateItem = function (item, callback) {
    if (!item) { return callback(new Error('No item to validate')); }
<% 
pkCount = 0;
foreach (var column in CurrentTable.Columns)
{ 
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }

    var text = "if (typeof item.{0} !== 'undefined') { if ({1}(item.{2})) { return callback(new Error('{3} is not a valid {4}')); }{5} }";
    text = text.Replace("{0}", SchemaFieldNames[column.Name.ToCamelCase()]);
    text = text.Replace("{2}", SchemaFieldNames[column.Name.ToCamelCase()]);
    if (SchemaFieldNames[column.Name.ToCamelCase()].Equals(column.Name.ToCamelCase(), StringComparison.Ordinal)){ text = text.Replace("{3}", SchemaFieldNames[column.Name.ToCamelCase()]); }
    else { text = text.Replace("{3}", SchemaFieldNames[column.Name.ToCamelCase()] + " (" + column.Name.ToCamelCase() + ")"); }

    text = text.Replace("{4}", ((column.IsPrimaryKeyMember || column.IsForeignKeyMember) ? SqlToMongooseKey[column.NativeType] : SqlToMongoose[column.NativeType]) + (column.AllowDBNull ? " or null value" : string.Empty));
    
    var typeName = (column.IsPrimaryKeyMember || column.IsForeignKeyMember) ? SqlToMongooseKey[column.NativeType] : SqlToMongoose[column.NativeType];
    switch (typeName)
    {
        case "String":
            if (column.IsPrimaryKeyMember || column.IsForeignKeyMember || column.NativeType.Equals("uniqueidentifier"))
            {
                if (column.IsFixedLength())
                {
                    text = text.Replace("{1}", "!strings.isAlphanumeric" + (column.AllowDBNull ? "OrNull" : string.Empty));
                }
                else
                {
                    text = text.Replace("{1}", "!uids.isIdentifier" + (column.AllowDBNull ? "OrNull" : string.Empty));
                }
            }
            else
            {
                text = text.Replace("{1}", "!strings.isValidString" + (column.AllowDBNull ? "OrNull" : string.Empty));
            }
            text = text.Replace("{5}", " else { item." + SchemaFieldNames[column.Name.ToCamelCase()] + " = strings.trimToNull(item." + SchemaFieldNames[column.Name.ToCamelCase()] + "); }");
            break;
        case "Date":
        case "Number":
        case "Boolean":
            text = text.Replace("{1}", "!" + typeName.ToLower() + "s.is" + SqlToMongoose[column.NativeType] + (column.AllowDBNull ? "OrNull" : string.Empty));
            text = text.Replace("{5}", string.Empty);
            break;
        default:
            // validator = "TYPE NOT ACCOUNTED FOR";
            break;
    }
    // validator += column.AllowDBNull ? "OrNull" : string.Empty;
%>
    <%= text %>
<% 
}
%>
    return callback();
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.validateItem = validateItem;
<%
// ==================
// VALIDATION - END
// ==================










// ==============
// TO DTO - BEGIN
// ==============
%>

var toDto = function (item) {
    if (!item) { return null; }
    var dto = {};
<%
pkCount = 0;
foreach (var column in CurrentTable.Columns)
{ 
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }
%>
    if (typeof item.<%= SchemaFieldNames[column.Name.ToCamelCase()] %> !== 'undefined') { dto.<%= DtoFieldNames[column.Name.ToCamelCase()] %> = item.<%= SchemaFieldNames[column.Name.ToCamelCase()] %>; }
<%
}
%>    
    return dto;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toDto = toDto;

var toDtos = function (items) {
    if (!items || items.length < 1) { return null; }
    var i, dtos = [];
    for (i = 0; i < items.length; i += 1) {
        dtos.push(toDto(items[i]));
    }
    return dtos;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toDto = toDto;

var toDtoFull = function (item) {
    if (!item) { return null; }
    var dto = {
<%
pkCount = 0;
foreach (var column in CurrentTable.Columns)
{ 
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }
    
    var eol = (column == CurrentTable.Columns.Last()) ? string.Empty : ",";
%>
        <%= DtoFieldNames[column.Name.ToCamelCase()] %>: ((typeof item.<%= SchemaFieldNames[column.Name.ToCamelCase()] %> !== 'undefined') ? item.<%= SchemaFieldNames[column.Name.ToCamelCase()] %> : null)<%= eol %>
<%
};
%>    
    };
    return dto;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toDtoFull = toDtoFull;

var toDtosFull = function (items) {
    if (!items || items.length < 1) { return null; }
    var i, dtos = [];
    for (i = 0; i < items.length; i += 1) {
        dtos.push(toDtoFull(items[i]));
    }
    return dtos;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toDtosFull = toDtosFull;
<%
// ==============
// TO DTO - END
// ==============










// ===============
// TO ITEM - BEGIN
// ===============
%>

var toItem = function (dto) {
    if (!dto) { return null; }
    var item = {};
<%
pkCount = 0;
foreach (var column in CurrentTable.Columns)
{ 
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }
%>
    if (typeof dto.<%= DtoFieldNames[column.Name.ToCamelCase()] %> !== 'undefined') { item.<%= SchemaFieldNames[column.Name.ToCamelCase()] %> = dto.<%= DtoFieldNames[column.Name.ToCamelCase()] %>; }
<%
}
%>    
    return item;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toItem = toItem;

var toItems = function toItems(dtos) {
    if (!dtos || dtos.length < 1) { return null; }
    var i, items = [];
    for (i = 0; i < dtos.length; i += 1) {
        items.push(toItem(dtos[i]));
    }
    return items;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toItems = toItems;

var toItemFull = function toItemFull(dto) {
    if (!dto) { return null; }
    var item = {
<%
pkCount = 0;
foreach (var column in CurrentTable.Columns)
{ 
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }
    
    var eol = (column == CurrentTable.Columns.Last()) ? string.Empty : ",";
%>
        <%= SchemaFieldNames[column.Name.ToCamelCase()] %>: ((typeof dto.<%= DtoFieldNames[column.Name.ToCamelCase()] %> !== 'undefined') ? dto.<%= DtoFieldNames[column.Name.ToCamelCase()] %> : null)<%= eol %>
<%
}
%>    
    };
    return item;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toItemFull = toItemFull;

var toItemsFull = function (dtos) {
    if (!dtos || dtos.length < 1) { return null; }
    var i, items = [];
    for (i = 0; i < dtos.length; i += 1) {
        items.push(toItemFull(dtos[i]));
    }
    return items;
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.toItemsFull = toItemsFull;
<%
// ===============
// TO ITEM - END
// ===============









// =================
// GET BY ID - BEGIN
// =================
%>

var getAll = function (callback) {
    var query = {<% if(CurrentTable.HasDeleteFlag()){ %> <%= SchemaFieldNames[CurrentTable.GetDeleteFlagColumn().Name.ToCamelCase()] %>: <%= DefaultsDelFlag[CurrentTable.GetDeleteFlagColumn().NativeType] %> <% } %>};
    mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').find(query, function (err, items) {
        if (err) { return callback(err); }
        return callback(null, toDtos(items));
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.getAll = getAll;

var getById = function (id, callback) {
    var query = { _id: id<% if (CurrentTable.HasDeleteFlag()){ %>, <%= SchemaFieldNames[CurrentTable.GetDeleteFlagColumn().Name.ToCamelCase()] %>: <%= DefaultsDelFlag[CurrentTable.GetDeleteFlagColumn().NativeType] %><% } %> };
    validateItem(query, function (err) {
        if (err) { return callback(err); }
        mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').findOne(query, function (err, item) {
            if (err) { return callback(err); }
            if (item) { return callback(null, toDto(item)); }
            return callback();
        });
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.getById = getById;

var getByIds = function (ids, callback) {
    if (!util.isArray(ids)){ return callback(new Error('ids is not an array'));  }
    var query = { _id: { $in: ids }<% if (CurrentTable.HasDeleteFlag()){ %>, <%= SchemaFieldNames[CurrentTable.GetDeleteFlagColumn().Name.ToCamelCase()] %>: <%= DefaultsDelFlag[CurrentTable.GetDeleteFlagColumn().NativeType] %><% } %> };
    mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').find(query, function (err, items) {
        if (err) { return callback(err); }
        if (items) { return callback(null, toDtos(items)); }
        return callback();
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.getByIds = getByIds;
<%
// =================
// GET BY ID - END
// =================










// ====================
// GET BY INDEX - BEGIN
// ====================
if (CurrentTable.Indexes.Where(x => !x.IsPrimaryKey).Where(x => !x.MemberColumns.All(y => y.IsAuditColumn())).Count() < 1)
{
%>

// NO INDICES ON TABLE!
<%
}

foreach(var index in CurrentTable.Indexes.Where(x => !x.IsPrimaryKey).Where(x => !x.MemberColumns.All(y => y.IsAuditColumn())).OrderBy(x => x.IsUnique).OrderBy(x => x.CreateUniqueName()))
{
%>

var get<%= (index.IsUnique ? "One" : "") %>By<%= index.CreateUniqueName() %> = function (<%= index.ToParamsArray() %>, callback) {
    var query = {
<%
    foreach (var column in index.MemberColumns)
    {
        var eol = (column == index.MemberColumns.Last()) ? string.Empty : ",";
%>
        <%= SchemaFieldNames[column.Name.ToCamelCase()] %>: <%= (column.IsDeleteFlag() ? DefaultsDelFlag[column.NativeType] : column.Name.ToCamelCase()) %><%= eol %>
<%
    }
%>
    };
    validateItem(query, function (err) {
        if (err) { return callback(err); }
        mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').find<%= (index.IsUnique ? "One" : "") %>(query, function (err, <%= (index.IsUnique ? "item" : "items") %>) {
            if (err) { return callback(err); }
            if (<%= (index.IsUnique ? "item" : "items") %>) { return callback(null, <%= (index.IsUnique ? "toDto" : "toDtos") %>(<%= (index.IsUnique ? "item" : "items") %>)); }
            return callback();
        });
    });
<%
%>
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.get<%= (index.IsUnique ? "One" : "") %>By<%= index.CreateUniqueName() %> = get<%= (index.IsUnique ? "One" : "") %>By<%= index.CreateUniqueName() %>;
<%
}
// ====================
// GET BY INDEX - END
// ====================










// ==============
// CREATE - BEGIN
// ==============


var paramArrayForCreate = CurrentTable.Columns.Where(column => !column.IsVersionDateColumn() && !column.IsDeleteFlag())
                                              .Where(column => !column.IsPrimaryKeyMember || column.IsFixedLength()).ToList().ToColumnSchemaCollection().ToParamsArray();

var columnsForCreate = CurrentTable.Columns.Where(column => !column.IsPrimaryKeyMember || column.IsFixedLength()).ToList().ToColumnSchemaCollection();

pkCount = 0;
%>

var createNew = function (<%= paramArrayForCreate %>, callback) {
    var data = {
<%
foreach (var column in columnsForCreate)
{
    if (column.IsPrimaryKeyMember){ pkCount++; }
    if (column.IsPrimaryKeyMember && pkCount > 1){ continue; }
    
    var eol = (column == columnsForCreate.Last()) ? string.Empty : ",";

    var line = SchemaFieldNames[column.Name.ToCamelCase()] + ": ";
    line += column.IsVersionDateColumn()
        ? "new Date()"
        : column.IsDeleteFlag()
            ? DefaultsDelFlag[column.NativeType]
            : column.Name.ToCamelCase();
    line += eol;
%>
        <%= line %>
<%
}
%>
    };
    validateItem(data, function (err) {
        if (err) { return callback(err); }
        var newItem = new <%= CurrentTable.Name.ToPascalCase() %>(data);
        newItem.save(function (err, item) {
            if (err) { return callback(err); }
            return callback(null, toDto(item));
        });
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.createNew = createNew;
<%
// ==============
// CREATE - END
// ==============










// ============
// INIT - BEGIN
// ============
pkCount = 0;
var indent = 0;
var PAD_WIDTH = 4;
var pad = string.Empty;
%>

var createNewOrGet = function (<%= paramArrayForCreate %>, suppressError, callback) {
    var dupErr = suppressError ? null : (new Error('Duplicate <%= CurrentTable.Name.ToTitle() %> detected'));
<%
foreach (var index in CurrentTable.Indexes.Where(x => x.IsUnique && !x.IsPkIndex()))
{
    indent++;
    pad = string.Empty.PadLeft(PAD_WIDTH * indent, ' '); 
%>
<%= pad %>getOneBy<%= index.CreateUniqueName() %>(<%= index.ToParamsArray() %>, function (err, existing) {
<%= pad %>    if (err) { return callback(err); }
<%= pad %>    if (existing) { return callback(dupErr, existing); }
<%
}
%>
<%= pad %>    return createNew(<%= paramArrayForCreate %>, callback);
<%
for (int i = indent; i > 0; i--)
{
    pad = string.Empty.PadLeft(PAD_WIDTH * i, ' '); 
%>
<%= pad %>});
<%
}
%>
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.createNewOrGet = createNewOrGet;
<%
// ============
// INIT - END
// ============










// =============
// COUNT - BEGIN
// =============
%>

var getCount = function (<%= (CurrentTable.HasDeleteFlag() ? "includeDeleted, " : "") %>callback) {
    var query = {};
<%
    if (CurrentTable.HasDeleteFlag())
    {
%>
    if (includeDeleted !== true) { query.<%= SchemaFieldNames[CurrentTable.GetDeleteFlagColumn().Name.ToCamelCase()] %> = <%= DefaultsDelFlag[CurrentTable.GetDeleteFlagColumn().NativeType] %>; }
<%
    }
%>
    return mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').count(query, callback);
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.getCount = getCount;

var getCountByQuery = function (queryDto, callback) {
    var query = toItem(queryDto);
    validateItem(query, function (err) {
        if (err) { return callback(new Error('Invalid query: ' + err.message)); }
        mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').count(query, callback);
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.getCountByQuery = getCountByQuery;
<%
// =============
// COUNT - END
// =============










// ==============
// MODIFY - BEGIN
// ==============
%>

var modifyMany = function (queryDto, updateDto<%= CurrentTable.HasVersionUserColumn() ? (", " + CurrentTable.GetVersionUserColumn().Name.ToCamelCase()) : string.Empty %>, callback) {
    if (!updateDto) { return callback(new Error('Nothing to update')); }
<%
    if (CurrentTable.HasVersionDateColumn())
    {
%>
    updateDto.<%= CurrentTable.GetVersionDateColumn().Name.ToCamelCase() %> = <%= ValuesVersionDate[CurrentTable.GetVersionDateColumn().NativeType] %>;
<%
    }
    if (CurrentTable.HasVersionUserColumn())
    {
%>
    updateDto.<%= CurrentTable.GetVersionUserColumn().Name.ToCamelCase() %> = <%= CurrentTable.GetVersionUserColumn().Name.ToCamelCase() %>;
<%
    }
%>
    var query = toItem(queryDto),
        update = toItem(updateDto);
    validateItem(query, function (err) {
        if (err) { return callback(new Error('Invalid query: ' + err.message)); }
        validateItem(update, function (err) {
            if (err) { return callback(new Error('Invalid update: ' + err.message)); }
            return mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').update(query, update, callback);
        });
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.modifyMany = modifyMany;

var modifyOne = function (queryDto, updateDto<%= CurrentTable.HasVersionUserColumn() ? (", " + CurrentTable.GetVersionUserColumn().Name.ToCamelCase()) : string.Empty %>, callback) {
    if (!updateDto) { return callback(new Error('Nothing to update')); }
<%
    if (CurrentTable.HasVersionDateColumn())
    {
%>
    updateDto.<%= CurrentTable.GetVersionDateColumn().Name.ToCamelCase() %> = <%= ValuesVersionDate[CurrentTable.GetVersionDateColumn().NativeType] %>;
<%
    }
    if (CurrentTable.HasVersionUserColumn())
    {
%>
    updateDto.<%= CurrentTable.GetVersionUserColumn().Name.ToCamelCase() %> = <%= CurrentTable.GetVersionUserColumn().Name.ToCamelCase() %>;
<%
    }
%>
    var query = toItem(queryDto),
        update = toItem(updateDto);
    validateItem(query, function (err) {
        if (err) { return callback(new Error('Invalid query: ' + err.message)); }
        validateItem(update, function (err) {
            if (err) { return callback(new Error('Invalid update: ' + err.message)); }
            mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>').findOneAndUpdate(query, update, function (err, item) {
                if (err) { return callback(err); }
                if (item) { return callback(null, toDto(item)); }
                return callback();
            });
        });
    });
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.modifyOne = modifyOne;
<%
// ==============
// MODIFY - END
// ==============










// ==============
// DELETE - BEGIN
// ==============
if (!CurrentTable.HasDeleteFlag())
{
%>

// TABLE DOES NOT HAVE A DELETE FLAG COLUMN - DELETE METHODS NOT GENERATED
<%
}
else
{
%>

var deleteMany = function (queryDto<%= CurrentTable.HasVersionUserColumn() ? (", " + CurrentTable.GetVersionUserColumn().Name.ToCamelCase()) : string.Empty %>, callback) {
    var updateDto = { <%= CurrentTable.GetDeleteFlagColumn().Name.ToCamelCase() %>: <%= ValuesDelFlag[CurrentTable.GetDeleteFlagColumn().NativeType] %> };
    return modifyMany(queryDto, updateDto<%= CurrentTable.HasVersionUserColumn() ? (", " + CurrentTable.GetVersionUserColumn().Name.ToCamelCase()) : string.Empty %>, callback);
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.deleteMany = deleteMany;

var deleteOne = function (queryDto<%= CurrentTable.HasVersionUserColumn() ? (", " + CurrentTable.GetVersionUserColumn().Name.ToCamelCase()) : string.Empty %>, callback) {
    var updateDto = { <%= CurrentTable.GetDeleteFlagColumn().Name.ToCamelCase() %>: <%= ValuesDelFlag[CurrentTable.GetDeleteFlagColumn().NativeType] %> };
    return modifyOne(queryDto, updateDto<%= CurrentTable.HasVersionUserColumn() ? (", " + CurrentTable.GetVersionUserColumn().Name.ToCamelCase()) : string.Empty %>, callback);
};
<%= CurrentTable.Name.ToCamelCase() %>Schema.methods.deleteOne = deleteOne;
<%
}
// ==============
// DELETE - END
// ==============
%>

var <%= CurrentTable.Name.ToPascalCase() %> = mongoose.model('<%= CurrentTable.Name.ToPascalCase() %>', <%= CurrentTable.Name.ToCamelCase() %>Schema);

module.exports = <%= CurrentTable.Name.ToPascalCase() %>;