<%-- 
Name:   mongoose.seed.js.cst
Author: Fred Lackey <fred.lackey@gmail.com>
Desc:
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JSON" OutputType="None" CompilerVersion="v4.5" Description="" %>

<%-- 01. Setup --%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="True" %>
<%@ Property Name="OutputDirectory" Type="System.String" Optional="True" %>
<%@ Property Name="OutputVersioning" Type="System.Boolean" Optional="True" %>

<%-- 02. Project --%>
<%@ Property Name="ProjectName" Type="System.String" Optional="True" %>
<%@ Property Name="VersionText" Type="System.String" Optional="True" %>
<%@ Property Name="ProjectDescription" Type="System.String" Optional="True" %>
<%@ Property Name="AuthorName" Type="System.String" Optional="True" %>

<%-- 03. Dev Config --%>
<%@ Property Name="DevHostName" Type="System.String" Optional="True" %>
<%@ Property Name="DevHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="DevDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="DevDbName" Type="System.String" Optional="True" %>

<%-- 03. Prod Config --%>
<%@ Property Name="ProdHostName" Type="System.String" Optional="True" %>
<%@ Property Name="ProdHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="ProdDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="ProdDbName" Type="System.String" Optional="True" %>

<%-- Local Properties --%>
<%@ Property Name="FileName" Type="System.String" Optional="True" %>

<%@ Assembly Name="SkydiverFL.Extensions.CodeSmith.dll" Path="../../Source/Projects/SkydiverFL.Extensions.CodeSmith/bin/Debug" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.Core" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith" %>
<%@ Import Namespace="SkydiverFL.Extensions.CodeSmith.Helpers" %>
<%@ Import Namespace="CodeSmith.Core.Extensions" %>

<!-- #include file="..\Common\Includes\Header-JavaScript.cst" -->

<%
    var tables = SourceDatabase.Tables.OrderBy(x => x.Name).Where(x => x.HasDefaultOnwer());

    if (tables.Count() > 0)
    {
%>
// No grouping (Total: <%= tables.Count() %>)
<%
        foreach (var table in tables)
        {
%>
<% if((tables.First() == table)){ %>var <% } else { %>    <% } %><%= table.Name.ToPascalCase() %> = require('../models/<%= table.Name.ToPascalCase() %>Model')<% if ((tables.Last() == table)){ %>;<% } else { %>,<% } %>
<%
        }
%>

<%
    }

    foreach (var owner in SourceDatabase.GetOwners())
    {
        tables = SourceDatabase.Tables.OrderBy(x => x.Name).Where(x => x.Owner.Equals(owner, StringComparison.OrdinalIgnoreCase));
%>
// <%= owner.ToPascalCase() %> (Total: <%= tables.Count() %>)
<%
        foreach (var table in tables)
        {
%>
<% if((tables.First() == table)){ %>var <% } else { %>    <% } %><%= table.Name.ToPascalCase() %> = require('../models/<%= owner.ToPascalCase() %>/<%= table.Name.ToPascalCase() %>Model')<% if ((tables.Last() == table)){ %>;<% } else { %>,<% } %>
<%
        }
%>

<%
    }
%>
var encryption = require('../utilities/encryption'),
    uuid = require('node-uuid');

module.exports = function(){

    var now = new Date();

}