<%-- 
Name:   strings.js.cst
Author: Fred Lackey <fred.lackey@gmail.com>
Desc:   Utility file for handling strings in JavaScript projects.
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JScript" OutputType="None" CompilerVersion="v4.5" Description="" %>

<%-- 01. Setup --%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="True" %>
<%@ Property Name="OutputDirectory" Type="System.String" Optional="True" %>
<%@ Property Name="OutputVersioning" Type="System.Boolean" Optional="True" %>

<%-- 02. Project --%>
<%@ Property Name="ProjectName" Type="System.String" Optional="True" %>
<%@ Property Name="VersionText" Type="System.String" Optional="True" %>
<%@ Property Name="ProjectDescription" Type="System.String" Optional="True" %>
<%@ Property Name="AuthorName" Type="System.String" Optional="True" %>

<%-- 03. Dev Config --%>
<%@ Property Name="DevHostName" Type="System.String" Optional="True" %>
<%@ Property Name="DevHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="DevDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="DevDbName" Type="System.String" Optional="True" %>

<%-- 03. Prod Config --%>
<%@ Property Name="ProdHostName" Type="System.String" Optional="True" %>
<%@ Property Name="ProdHostPort" Type="System.Int32" Optional="True" %>
<%@ Property Name="ProdDbFQDN" Type="System.String" Optional="True" %>
<%@ Property Name="ProdDbName" Type="System.String" Optional="True" %>

<%-- Local Properties --%>
<%@ Property Name="FileName" Type="System.String" Optional="True" %>



<!-- #include file="Includes\Header-JavaScript.cst" -->
function isNullOrWhiteSpace (value) {
    return (!value || (value.trim && value.trim().length < 1));
}

function trim (value) {
    return isNullOrWhiteSpace(value) ? null : value.trim();
}

function isValidString(value, allowedChars, isCaseSensative, minLength, maxLength){
    if (!value){ return false; }
    if (allowedChars) {
        if (isCaseSensative){
            for (var i = 0; i < value.length; i++) {
                if (allowedChars.indexOf(value[i]) < 0){ return false; }
            }
        } else {
            for (var i = 0; i < value.length; i++) {
                if (allowedChars.toLowerCase().indexOf(value.toLowerCase()[i]) < 0){ return false; }
            }
        }
    }
    if (minLength && minLength > 0 && value.length < minLength){ return false; }
    if (maxLength && maxLength > 0 && value.length > maxLength){ return false; }

    return true;
}

function isNumbers(value) {
    return isValidString(value, "0123456789", false, 0, 0);
}

function isDate(date) {
    return (new Date(date) !== "Invalid Date" && !isNaN(new Date(date)));
}

module.exports = {

    isDate: isDate,
    isNullOrWhitespace: isNullOrWhiteSpace,
    isNumbers: isNumbers,
    isValidString: isValidString,
    trim: trim

}
