<%@ CodeTemplate OutputType="None" %>
<%@ Register Name="PreserveTest" Template="PreserveTest.cst" %>
<%@ Import Namespace="System.IO" %>

<%
    var strategy = new PreserveRegionsMergeStrategy();
    strategy.RegionNameRegex = "^[ \t]*(?i:Custom)";
    strategy.Language = "JavaScript";

    var preserveTest = this.Create<PreserveTest>();
    preserveTest.RenderToFile(new OutputFile(".\\test.js"), strategy);
%>