<%@ CodeTemplate TargetLanguage="JavaScript" %>
/*jslint node: true */
'use strict';

var newVariable = '1';

// region Custom Operations
// endregion

module.exports = {
    newVariable : newVariable
};